* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 500px;
  max-width: 500px;
}

.container-button {
  margin-top: 1em;
}

.col-name,
.col-attachment,
.col-type,
.col-time {
  word-wrap: break-word;
  max-width: 40px;
}

.col-message {
  word-wrap: break-word;
  max-width: 150px;
}

#btn-del-history {
  width: 60%;
  margin: 0 auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}

#btn-del-history:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.styled-table {
  border-collapse: collapse;
  margin: 15px 0 0 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #8e54e9;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 5px 5px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #8e54e9;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1em;
}
